[submodule "docs"]
	path = docs
	url = https://github.com/andreick/algashop-docs.git
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/andreick/algashop-ordering.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/andreick/algashop-billing.git
